<section class="movie-details">
  <div class="movie-image" style="background-image: url('https://image.tmdb.org/t/p/original{{movie?.backdrop_path}}'); 
      background-size: cover;
      background-position: inherit;">
  </div>

  <div class="detail-contents conainer">
    <h1 class="movie-title">
      {{movie?.title || movie?.name}}
    </h1>


    <!-- <iframe class="video" width="700" height="400" [src]="urlSafe" frameborder="0"
      allowfullscreen="500"></iframe> -->

      
    <div class="detail-btns">
      <a class="detail-btn" href="{{getMovieVideoResult}}" allowfullscreen target="_blank">Play</a>
      <a class="detail-btn">My List</a>
    </div>

    <h1 class="movie-description">{{truncate(movie?.overview,150)}}</h1>
  </div>
  <!-- <button (click)="onBack()">Back</button> -->
  <div class="details-fadeBottom"></div>
</section>