.movie-details {
  color: white;
  .movie-image {
    background-position: inherit;
    background-size: cover;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: -2;
    height: 70vh;
    width: 100%;
    object-fit: cover !important;
    position: relative;
    object-fit: contain;
  }

  .detail-contents {
    padding-top: 120px;

    .movie-title {
      font-size: 3rem;
      font-weight: 800;
      padding-bottom: 0.3rem;
    }
    .movie-description {
      width: 45rem;
      line-height: 1.3;
      padding-top: 1rem;
      font-size: 0.8rem;
      max-width: 360px;
      height: 80px;
    }
    .detail-btns {
      display: flex;
    }
    .detail-btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #fff;
      outline: none;
      border: none;
      font-weight: 700;
      border-radius: 0.2vw;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-right: 1rem;
      padding-top: 0.5rem;
      background-color: rgba(51, 51, 51, 0.5);
      padding-bottom: 0.5rem;
      text-decoration: none;

      img {
        height: 15px;
      }
    }
    .detail-btn:hover {
      color: #000;
      background-color: #e6e6e6;
      transition: all 0.2s;
    }
  }
  .details-fadeBottom {
    height: 18.5rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }

  .video {
    display: flex;
    position: absolute;
    transform: translate(60%, 0%);
  }
}

iframe.video {
  body.trailer_iframe {
    height: 100vh;
  }
}

@media (max-width: 440px) {
  .movie-image {
    background-position: bottom !important;
  }
  .details-fadeBottom {
    height: 4.5rem !important;
  }
}
