<section class="home-page">


    <div *ngIf="!isSignIn">

        <div class="home-page-txt">
            <p>Unlimited movies, TV shows, and more.</p>
            <p>Watch anywhere. Cancel anytime.</p>
            <p>Ready to watch? Enter your email to create or restart your membership.</p>
        </div>

        <div class="email-btn">
            <form>
                <input type="email" placeholder="Email Address" />
                <button>Get Started</button>

            </form>
        </div>

    </div>


    <div class="cover-img"></div>
    <img src="https://res.cloudinary.com/dirvusyaz/image/upload/v1672745601/IL-en-20221228-popsignuptwoweeks-perspective_alpha_website_large_xkov2a.jpg"
        alt="">
</section>