.user-msg {
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border: red solid 5px;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 49px #000000c9;
}